*{
    margin: 0;
    padding 0;

}
body{
    background-image: url(imj.jpg);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    z-index: -2;
}